name: Planning Files to S3

on:
  pull_request:
    types: [ opened, synchronize, ready_for_review, edited ]
  push:
    branches:
      - main

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      country: ${{ steps.check.outputs.country }}
      environment: ${{ steps.check.outputs.environment }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Check Title Message
        id: set-vars
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          TITLE_REGEX='^country [a-zA-Z]{0,20} environment [a-zA-Z]{0,5} [a-zA-Z][a-zA-Z0-9,]{0,49}$'
          if ! [[ "$TITLE" =~ $TITLE_REGEX ]]; then
            echo "The title of the pull request does not match the expected format." >> $GITHUB_STEP_SUMMARY
            echo "## Expected Format" >> $GITHUB_STEP_SUMMARY
            echo "country <country name> environment <environment> certificates [certificate1,certificate2,...,certificateN]" >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
          COUNTRY=$(echo "$TITLE" | cut -d ' ' -f 2)
          ENVIRONMENT=$(echo "$TITLE" | cut -d ' ' -f 4)
          echo "country=$COUNTRY" >> $GITHUB_OUTPUT
          echo "environment=$ENVIRONMENT" >> $GITHUB_OUTPUT
          cat "$GITHUB_OUTPUT"

  execute_planning:
    needs: setup
    uses: lisboajeff/bucket_python/.github/workflows/action.yml@main
    with:
      base_path: "${{ needs.setup.outputs.country }}/${{ needs.setup.outputs.environment }}/certificates"
      description: "${{ needs.setup.outputs.country }}:${{ needs.setup.outputs.environment }}"
      configuration: "${{ needs.setup.outputs.country }}/${{ needs.setup.outputs.environment }}/config.env"
      directory_properties: "${{ needs.setup.outputs.country }}/${{ needs.setup.outputs.environment }}/directory.properties"
      type: 'planning'
    secrets: inherit

  approval:
    needs: execute_planning
    runs-on: ubuntu-latest
    environment: approved
    steps:
      - name: Request approval
        run: echo "OK"

  apply:
    needs: execute_planning
    uses: lisboajeff/bucket_python/.github/workflows/action.yml@main
    with:
      base_path: "${{ needs.setup.outputs.country }}/${{ needs.setup.outputs.environment }}/certificates"
      description: "${{ needs.setup.outputs.country }}:${{ needs.setup.outputs.environment }}"
      configuration: "${{ needs.setup.outputs.country }}/${{ needs.setup.outputs.environment }}/config.env"
      directory_properties: "${{ needs.setup.outputs.country }}/${{ needs.setup.outputs.environment }}/directory.properties"
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      type: 'apply'
