name: Synchronize Certificates to S3

on:
  pull_request:
    types: [ opened, synchronize, ready_for_review ]

jobs:

  check-squash-commit-message:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check Title Message
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          TITLE_REGEX='^country [a-zA-Z]{0,20} environment [a-zA-Z]{0,5} certificates [[a-zA-Z,][a-zA-Z0-9,]{0,49}]$'
          if ! [[ "$TITLE" =~ $TITLE_REGEX ]]; then
            echo "Title message ($TITLE) does not meet the required template"
            exit 1
          fi

  sync_certificates:
    needs: [ check-squash-commit-message ]
    uses: lisboajeff/bucket_python/.github/workflows/action.yml@main
    with:
      country: "${{ github.event.inputs.country }}"
      environment: "${{ github.event.inputs.environment }}"
      certificates: "${{ github.event.inputs.country }}/${{ github.event.inputs.environment }}/certificates"
    secrets: inherit