name: Deploy Certificates to S3

on:
  workflow_dispatch:
    inputs:
      ambiente:
        description: 'Escolha o ambiente: DEV ou PRD'
        required: true
        default: 'DEV'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Carregar Configurações do Ambiente
        run: |
          echo "Carregando configurações para o ambiente ${{ github.event.inputs.ambiente }}"
          source env/${{ github.event.inputs.ambiente }}.env
          echo "BUCKET_NAME=$BUCKET_NAME" >> $GITHUB_ENV

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install Boto3
        run: pip install boto3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: $AWS_REGION

      - name: Sync new PEM files to S3
        run: python src/script.py
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: $AWS_REGION
