name: Synchronize Certificates to S3

on:
  workflow_dispatch:
    inputs:
      country:
        description: 'Select the country: Brasil'
        required: true
        default: 'Brasil'
      environment:
        description: 'Select the environment: dev'
        required: true
        default: 'dev'

jobs:
  sync_certificates:
    uses: lisboajeff/bucket_python/.github/workflows/action.yml@test
    with:
      country: "${{ github.event.inputs.country }}"
      environment: "${{ github.event.inputs.environment }}"
      certificates: "${{ github.event.inputs.country }}/${{ github.event.inputs.environment }}/certificates"
    secrets: inherit