name: Synchronize Certificates to S3

on:
  workflow_dispatch:
    inputs:
      country:
        description: 'Select the country: Brasil'
        required: true
        default: 'Brasil'
      environment:
        description: 'Select the environment: dev'
        required: true
        default: 'dev'

jobs:
  sync_certificates:
    runs-on: ubuntu-latest
    steps:
      - name: Synchronize Certificates
        uses: lisboajeff/bucket_python/.github/workflows@test
        with:
          country: "${{ github.event.inputs.country }}"
          environment: "${{ github.event.inputs.environment }}"
          certificates: "${{ github.workspace }}/${{ github.event.inputs.country }}/${{ github.event.inputs.environment }}/certificates"
