name: Deploy Certificates to S3

on:
  workflow_dispatch:
    inputs:
      country:
        description: 'Escolha o pais: Brasil'
        required: true
        default: 'Brasil'
      environment:
        description: 'Escolha o environment: DEV'
        required: true
        default: 'DEV'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Carregar Configurações do environment
        run: |
          chmod +x .github/scripts/env.sh
          .github/scripts/env.sh env/${{ github.event.inputs.country }}/${{ github.event.inputs.environment }}/config.env

      - name: Verificar estrutura de diretórios e arquivo de configuração
        run: |
          if [ ! -f "env/${{ github.event.inputs.country }}/${{ github.event.inputs.environment }}/config.env" ]; then
            echo "Erro: arquivo config.env não encontrado." >> $GITHUB_STEP_SUMMARY
            exit 1
          fi

          if [ ! -d "env/${{ github.event.inputs.country }}/${{ github.event.inputs.environment }}/certificates/${{ env.TRUSTSTORE }}" ]; then
            echo "Erro: diretório certificates/${{ env.TRUSTSTORE }} não encontrado." >> $GITHUB_STEP_SUMMARY
            exit 1
          fi

          if [ ! -d "env/${{ github.event.inputs.country }}/${{ github.event.inputs.environment }}/certificates/${{ env.TLS }}" ]; then
            echo "Erro: diretório certificates/${{ env.TLS }} não encontrado." >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
          echo "Todas as verificações de estrutura de diretórios passaram com sucesso."

      - name: Verificar variáveis no config.env
        env:
          REQUIRED_VARS: "AWS_REGION BUCKET_NAME TRUSTSTORE TLS"
        run: |
          IFS=' ' read -r -a REQUIRED_VARS_ARRAY <<< "$REQUIRED_VARS"
          MISSING_VARS=()
          for VAR in "${REQUIRED_VARS_ARRAY[@]}"; do
            if ! grep -qE "^${VAR}=" env/${{ github.event.inputs.country }}/${{ github.event.inputs.environment }}/config.env; then
              MISSING_VARS+=("$VAR")
            fi
          done  
          if [ ${#MISSING_VARS[@]} -ne 0 ]; then
            echo "Erro: As seguintes variáveis estão faltando no config.env: ${MISSING_VARS[*]}" >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
  
          echo "Todas as variáveis necessárias estão definidas no config.env."

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.12'

      - name: Install Boto3
        run: pip install -r .github/src/requirements.txt

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Sync new PEM files to S3
        run: python .github/src/main/main.py ${{ github.event.inputs.country }} ${{ github.event.inputs.environment }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ env.AWS_REGION }}
          
      - name: Publish Report to Job Summary
        run: |
          echo "### S3 Sync Report" >> $GITHUB_STEP_SUMMARY
          cat s3_sync_report.md >> $GITHUB_STEP_SUMMARY
        