name: Synchronize Certificates to S3

on:
  pull_request:
    types: [ opened, synchronize, ready_for_review, edited ]

jobs:

  verifier:
    outputs:
      country: ${{ steps.check.outputs.country }}
      environment: ${{ steps.check.outputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Check Title Message
        id: check
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          TITLE_REGEX='^country [a-zA-Z]{0,20} environment [a-zA-Z]{0,5} certificates [[a-zA-Z][a-zA-Z0-9,]{0,49}]$'
          if ! [[ "$TITLE" =~ $TITLE_REGEX ]]; then
            echo "The title of the pull request does not match the expected format." >> $GITHUB_STEP_SUMMARY
            echo "## Expected Format" >> $GITHUB_STEP_SUMMARY
            echo "country <country name> environment <environment> certificates [certificate1,certificate2,...,certificateN]" >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
          COUNTRY=$(echo "$TITLE" | cut -d ' ' -f 2)
          ENVIRONMENT=$(echo "$TITLE" | cut -d ' ' -f 4)
          echo "country=$COUNTRY" >> $GITHUB_OUTPUT
          echo "environment=$ENVIRONMENT" >> $GITHUB_OUTPUT
          cat "$GITHUB_OUTPUT"

  sync_certificates:
    needs: [ verifier ]
    uses: lisboajeff/bucket_python/.github/workflows/action.yml@refatorando
    with:
      base_path: "${{ needs.verifier.outputs.country }}/${{ needs.verifier.outputs.environment }}/certificates"
      description: "${{ needs.verifier.outputs.country }}:${{ needs.verifier.outputs.environment }}"
      configuration: "${{ needs.verifier.outputs.country }}/${{ needs.verifier.outputs.environment }}/config.env"
      expression_file_paths: "keystore:crt,truststore:pem"
    secrets: inherit