name: Synchronize Certificates to S3

on:
  pull_request:
    types: [ opened, synchronize, ready_for_review ]

jobs:

  check-squash-commit-message:
    outputs:
      country: ${{ steps.set_vars.outputs.country }}
      environment: ${{ steps.set_vars.outputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Check Title Message
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          TITLE_REGEX='^country [a-zA-Z]{0,20} environment [a-zA-Z]{0,5} certificates [[a-zA-Z,][a-zA-Z0-9,]{0,49}]$'
          if ! [[ "$TITLE" =~ $TITLE_REGEX ]]; then
            echo "Title message ($TITLE) does not meet the required template"
            exit 1
          fi
          COUNTRY=$(echo "$TITLE" | cut -d ' ' -f 2)
          ENVIRONMENT=$(echo "$TITLE" | cut -d ' ' -f 4)
          echo "::set-output name=country::$COUNTRY"
          echo "::set-output name=environment::$ENVIRONMENT"

  sync_certificates:
    needs: [ check-squash-commit-message ]
    uses: lisboajeff/bucket_python/.github/workflows/action.yml@main
    with:
      country: "${{ needs.check-squash-commit-message.outputs.country }}"
      environment: "${{ needs.check-squash-commit-message.outputs.environment }}"
      certificates: "${{ needs.check-squash-commit-message.outputs.country }}/${{ needs.check-squash-commit-message.outputs.environment }}/certificates"
    secrets: inherit